{% extends 'main/base.html' %}

{% load static %}

{% block style %}

<link rel="stylesheet" href="{% static 'useraccount/css/login_signup.css' %}">

{% endblock style %}

{% block body %}

<div class="main">
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Uasername" name="Username">
        <input type="password" placeholder="Password" name="Password">
        <input type="submit" class="submit_btn" placeholder="Submit">
    </form>
</div>

{% endblock body %}