
.user_inp{grid-area: user_inp;}
.toggle{grid-area: toggle;}

.text_area{
    display: grid;
    grid-template-areas: 'toggle user_inp user_inp user_inp';
    grid-gap: 4vh;
    margin-left: 6rem;
}


.text_area form{
    display: flex;
    flex-direction: column;
}

#toggle{
    height: 2rem;
    width: 5rem;
    margin-left: auto;
    background-color: #0048ff;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    outline: none;
}

.text_area form input{
    position: relative;
    width: 7rem;
    margin-top: 2rem;
    height: 2rem;
    background-color: #0048ff;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    outline: none;
}

.text_area form textarea{
    width: 73vh;
    height: 70vh;
    position: relative;
    padding: 1vh;
    background-color: black;
    color: #00b800;
    font-size: 1.3rem;
    border: 1px solid blue;
}

.text_area form textarea:focus{
    outline: none;
    box-shadow: 0px 0px 15px blue;
}